<p style="color: green"><%= notice %></p>
<h1>Tasks</h1>
<table>
  <thead>
    <tr>
      <% Task.statuses.each do |k, v| %>
        <th>
          <%= k.capitalize %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <%= turbo_stream_from task %>
      <tr id="tasks" data-controller="sortable" data-sortable-resource-name-value="task" data-sortable-param-name-value="status">
        <% Task.statuses.each do |k, v| %>
          <td data-sortable-update-url="<%= status_task_path(task) %>">
            <% if task.status == k %>
              <%= link_to task.name, edit_task_path(task) %>
              <%#= task.name %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New", new_task_path %>
